<kq ng-controller="CustomerCtrl" ng-init="init()">
    <content-header title-name="Thêm mới khách hàng" ng-if="isNewHeader==true"></content-header>
    <content-header title-name="Hiệu chỉnh  khách hàng" ng-if="isNewHeader==false"></content-header>
    <!-- Main content -->
    <section class="content">
        <div class="row ">
            <input type=" text" class="form-control hidden" id="ID" name="ID" placeholder="ID" ng-model="dataSelected.ID" ng-change="changeText()" />
            <form class="form-horizontal row" name="addProductForm" novalidate="">
                <div class="col-md-12 col-sm-12">

                    <!--Column Left-->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên công ty</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ID" name="Name" ng-model="dataSelected.Name" tabindex="1" ng-change="changeText()" required />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword3" class="col-sm-3 control-label">Mã số thuế</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="dataSelected.TaxID" tabindex="2">
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control text-center col-sm-10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.ReceiveDate" is-open="openedModifyDateTime" close-text="Close" id="txtModifyDateTime" ng-click="openedModifyDateTime=true" tabindex="3" placeholder="Ngày nhận KH " />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedModifyDateTime=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Lĩnh vực kinh doanh</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="dataSelected.BusinessArea" tabindex="4">
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Nhóm khách hàng</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="dataSelected.State" tabindex="5"
                                        ng-options="item.Value as item.Name for item in customerGroup">
                                    <option value="">-- Chọn nhóm</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="HirePrice" class="col-sm-3 control-label text-left-important">Nhóm diện tích</label>
                            <div class="col-sm-9 ">
                                <select class="form-control" ng-model="dataSelected.State" tabindex="5"
                                        ng-options="item.Value as item.Name for item in leasingAreaGroup">
                                    <option value="">-- Chọn nhóm diện tích</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Diện tích thuê</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="AreaDescription" name="AreaDescription" tabindex="7" ng-model="dataSelected.HireArea" placeholder="" />
                            </div>
                            <div class="col-sm-4">
                                <input type=" text" class="form-control" id="HirePrice" name="HirePrice" tabindex="7" ng-model="dataSelected.HirePrice" placeholder="Giá thuê" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Khu vực thuê</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HireSector" name="HireSector" tabindex="9" ng-model="dataSelected.HireSector" placeholder="" />
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" placeholder="Thời gian thuê" ng-model="dataSelected.HireDuration" is-open="openedDD1" close-text="Close" id="txtOpenedDD1" ng-click="openedDD1=true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedDD1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Lưu ý nhu cầu</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="State" name="State" tabindex="11" ng-model="dataSelected.DemandNode" placeholder="" ng-change="changeText()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Hướng toà nhà</label>
                            <div class="col-sm-3 ">
                                <select tabindex=" 21" ng-model="dataSelected.BuildingDirectionID" name="BuildingDirectionID" id="BuildingDirectionID" tabindex="46" class="form-control"
                                        ng-options="option.Value as option.Name for option in buildingDirectionIDSelectList">
                                    <option value="">-- Chọn hướng </option>
                                </select>
                            </div>
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important padding-left-0 padding-right-0">Hướng văn phòng</label>
                            <div class="col-sm-3 ">
                                <select tabindex=" 21" ng-model="dataSelected.OfficeDirectionID" name="OfficeDirectionID" id="OfficeDirectionID" tabindex="47" class="form-control"
                                        ng-options="option.Value as option.Name for option in buildingDirectionIDSelectList">
                                    <option value="">-- Chọn hướng </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="HirePrice" class="col-sm-3 control-label text-left-important">Thông tin liên hệ</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Tên" tabindex="13" ng-model="dataSelected.HirePrice" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="14" ng-model="dataSelected.HireManagermentFee" placeholder="Điện thoại" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Chức vụ" tabindex="13" ng-model="dataSelected.HirePrice" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="14" ng-model="dataSelected.HireManagermentFee" placeholder="Email" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Địa chỉ</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Tỉnh/thành phố" tabindex="13" ng-model="dataSelected.AddressProvince" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                            <div class="col-sm-5 ">
                                <select class="form-control" ng-model="dataSelected.DistrictID" tabindex="17"
                                        ng-options="item.ID as item.Name for item in districtSelectList"
                                        ng-change="changeDistrict(dataSelected.DistrictID)">
                                    <option value="">-- Chọn Quận/Huyện</option>
                                </select>
                            </div>
                            <div class="col-sm-4 ">
                                <select class=" form-control" ng-model="dataSelected.WardID" tabindex="18"
                                        ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:dataSelected.DistrictID"
                                        ng-disabled="dataSelected.DistrictID == null || dataSelected.DistrictID == ''">
                                    <option value="">
                                        -- Chọn Phường/Xã
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important"></label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Số nhà" tabindex="13" ng-model="dataSelected.OtherInfo" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="14" ng-model="dataSelected.HireManagermentFee" placeholder="Đường" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Thông tin khác</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="dataSelected.OtherInfo" tabindex="19" placeholder="OtherInfo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Ngày thuê</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" placeholder="Thời gian thuê" ng-model="dataSelected.HireDate" is-open="openedHireDate" close-text="Close" id="txtopenedHireDate" ng-click="openedHireDate=true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedHireDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.HireExpireDate" is-open="openedHireExpireDate" close-text="Close" id="txtHireExpireDate" ng-click="openedHireExpireDate=true" placeholder="Ngày hết HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedHireExpireDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Địa chỉ thuê mới</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="ContactPhone" name="ContactPhone" tabindex="21" ng-model="dataSelected.NewHireAddressBuilding" placeholder="Tên toà nhà" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="NewHireAddressFloor" name="ContactPhone" tabindex="21" ng-model="dataSelected.NewHireAddressFloor" placeholder="Tầng" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Địa chỉ</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Tỉnh/thành phố" tabindex="13" ng-model="dataSelected.AddressProvince" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                            <div class="col-sm-5 ">
                                <select class="form-control" ng-model="dataSelected.DistrictID" tabindex="17"
                                        ng-options="item.ID as item.Name for item in districtSelectList"
                                        ng-change="changeDistrict(dataSelected.DistrictID)">
                                    <option value="">-- Chọn Quận/Huyện</option>
                                </select>
                            </div>
                            <div class="col-sm-4 ">
                                <select class=" form-control" ng-model="dataSelected.WardID" tabindex="18"
                                        ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:dataSelected.DistrictID"
                                        ng-disabled="dataSelected.DistrictID == null || dataSelected.DistrictID == ''">
                                    <option value="">
                                        -- Chọn Phường/Xã
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important"></label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Số nhà" tabindex="13" ng-model="dataSelected.OtherInfo" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="14" ng-model="dataSelected.HireManagermentFee" placeholder="Đường" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ContactMgntName" class="col-sm-3 control-label text-left-important">HH xúc tiến HĐ</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="ContactMgntName" name="ContactMgntName" tabindex="22" ng-model="dataSelected.ContactMgntName" placeholder="HH xúc tiến HĐ" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ContactOwnerNane" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Diện tích đã ký HĐ" tabindex="13" ng-model="dataSelected.OtherInfo" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="14" ng-model="dataSelected.HireManagermentFee" placeholder="Giá Chốt" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="LeasingCapabilities" class="col-sm-3 control-label text-left-important">Thời gian đặt cọc</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.DepositDate" is-open="openedDepositDate" close-text="Close" id="txtDepositDate" ng-click="openedDepositDate=true" placeholder="Ngày đặt cọc" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedDepositDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Elevator" class="col-sm-3 control-label text-left-important">Thời gian ký HĐ</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.SignContractDate" is-open="openedSignContractDate" close-text="Close" id="txtSignContractDate" ng-click="openedSignContractDate=true" placeholder="Thời gian ký HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedSignContractDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.OutContractDate" is-open="openedOutContractDate" close-text="Close" id="txtOutContractDate" ng-click="openedOutContractDate=true" placeholder="Thời gian xuất HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedOutContractDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PowerBackup" class="col-sm-3 control-label text-left-important">Thời gian nhận tiền HH</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.ReceiveBonus" is-open="openedReceiveBonus" close-text="Close" id="txtReceiveBonus" ng-click="openedReceiveBonus=true" placeholder="Thời gian ký HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedReceiveBonus=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <select class=" form-control" ng-model="dataSelected.IsReceiveBonus" tabindex="18">
                                    <option value="2">
                                        -- Đã nhận / chưa nhận
                                    </option>

                                    <option value="1">
                                        Đã nhận
                                    </option>
                                    <option value="0">
                                        Chưa nhận
                                    </option>

                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="CoolerSystem" class="col-sm-3 control-label text-left-important">HH đã có VAT</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="CoolerSystem" name="BonusWithVAT" tabindex="31" ng-model="dataSelected.BonusWithVAT ">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="TimeToSetup" class="col-sm-3 control-label text-left-important">HH chưa VAT</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="BonusWithoutVAT" name="BonusWithoutVAT" tabindex="32" ng-model="dataSelected.BonusWithoutVAT ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TimeWork" class="col-sm-3 control-label text-left-important">Doanh thu thực</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="Income" name="Income" tabindex="34" ng-model="dataSelected.Income">
                            </div>
                        </div>

                    </div>
                    <!--Column Right-->
                    <div class="col-md-6 col-sm-6">


                        <div class="form-group" ng-repeat="item in listCareNote">
                            <label for="PackingBikePosition" class="col-sm-3 control-label text-left-important"> <span ng-show="$first">QT chăm sóc </span> </label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" name="PackingBikePosition" tabindex="35" ng-model="item.value" placeholder="Quá trình chăm sóc " title="Quá trình chăm sóc" />
                            </div>
                            <div class="col-sm-3 padding-left-0 padding-right-0 ">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="item.date" is-open="openedCareNote$index" close-text="Close" id="txtHireExpireDate" ng-click="openedCareNote$index=true" placeholder="Thời gian ký HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedCareNote$index=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                            <div class="col-sm-1 padding-left-0  text-right">
                                <a type="button" class="btn btn-danger" ng-click="listCareNote=removeItemList(listCareNote,$index)" ng-if="!$last" ><i class=" fa fa-minus"></i></a>
                                <a type="button" class="btn btn-primary" ng-click="listCareNote=addItemList(listCareNote)" ng-if="$last"><i class=" fa fa-plus"></i></a>
                            </div>
                        </div>

                      


                        <div class="form-group" ng-repeat="item in listCustomerContact">
                            <label for="PackingBikePosition" class="col-sm-3 control-label text-left-important"> <span ng-show="$first">Phản hồi KH </span> </label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" name="PackingBikePosition" tabindex="35" ng-model="item.value" placeholder="Phản hồi Khách hàng " title="Phản hồi Khách hàng" />
                            </div>
                            <div class="col-sm-3 padding-left-0 padding-right-0 ">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="item.date" is-open="openedCustomerContact$index" close-text="Close" ng-click="openedCustomerContact$index=true" placeholder="Thời gian phản hồi" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedCustomerContact$index=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                            <div class="col-sm-1 padding-left-0  text-right">
                                <a type="button" class="btn btn-danger" ng-click="listCustomerContact=removeItemList(listCustomerContact,$index)" ng-if="!$last"><i class=" fa fa-minus"></i></a>
                                <a type="button" class="btn btn-primary" ng-click="listCustomerContact=addItemList(listCustomerContact)" ng-if="$last"><i class=" fa fa-plus"></i></a>
                            </div>
                        </div>


                        <div class="form-group" ng-repeat="item in listStrategyCare">
                            <label for="PackingBikePosition" class="col-sm-3 control-label text-left-important"> <span ng-show="$first">Chiến lược chăm sóc </span> </label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" name="PackingBikePosition" tabindex="35" ng-model="item.value" placeholder="Chiến lược chăm sóc" title="Chiến lược chăm sóc " />
                            </div>
                            <div class="col-sm-3 padding-left-0 padding-right-0 ">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="item.date" is-open="openedlistStrategyCare$index" close-text="Close" ng-click="openedlistStrategyCare$index=true" placeholder="Thời gian" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedlistStrategyCare$index=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                            <div class="col-sm-1 padding-left-0  text-right">
                                <a type="button" class="btn btn-danger" ng-click="listStrategyCare=removeItemList(listStrategyCare,$index)" ng-if="!$last"><i class=" fa fa-minus"></i></a>
                                <a type="button" class="btn btn-primary" ng-click="listStrategyCare=addItemList(listStrategyCare)" ng-if="$last"><i class=" fa fa-plus"></i></a>
                            </div>
                        </div>


                        

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Ưu điểm</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="ElectricityFee" name="ElectricityFee" tabindex="41" ng-model="dataSelected.Advantages" placeholder="Ưu điểm" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Nhược điểm</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="ElectricityFee" name="ServiceWaterFee" tabindex="42" ng-model="dataSelected.Disadvantages" placeholder="Nhược điểm" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Bài học kinh nghiệm</label>
                            <div class="col-sm-9 ">
                                <!--<input type=" text" class="form-control" id="OfficeRank" name="OfficeRank" tabindex="43" ng-model="dataSelected.OfficeRank" ng-change="changeText()" />-->
                                <textarea name=" description" id="Description" class="form-control" rows="4" tabindex="53" placeholder="" ng-model="dataSelected.Experience"></textarea>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Ghi chú</label>
                            <div class="col-sm-9 ">
                                <!--<input type=" text" class="form-control" id="OfficeRank" name="OfficeRank" tabindex="43" ng-model="dataSelected.OfficeRank" ng-change="changeText()" />-->
                                <textarea name=" description" id="Description" class="form-control" rows="4" tabindex="53" placeholder="" ng-model="dataSelected.Note"></textarea>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Kênh khách hàng</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="CeilingHeight" name="CeilingHeight" tabindex="44" ng-model="dataSelected.Chanel" ng-change="changeText()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Chuyển đối tác</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="CompleteTime" name="CompleteTime" tabindex="45" ng-model="dataSelected.TransferPartner" ng-change="changeText()" />
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.TransferPartnerDateTime" is-open="openedTransferPartnerDateTime" close-text="Close" id="txtTransferPartnerDateTime" ng-click="openedTransferPartnerDateTime=true" placeholder="Thời gian chuyển đối tác" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedTransferPartnerDateTime=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Lý do ngừng chăm sóc</label>
                            <div class="col-sm-9 ">
                               
                                <textarea name=" description" id="Description" class="form-control" rows="4" tabindex="53" placeholder="" ng-model="dataSelected.StopCareReason"></textarea>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Status" class="col-sm-3 control-label text-left-important">Tài liệu</label>
                            <div class="col-sm-5">
                                <button type="button" class="btn btn-primary start col-xs-12 col-sm-12" " ng-disabled=" !dataselected.filetype" tabindex=" 55">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Thêm tài liệu</span>
                                </button>



                            </div>
                            <div class="form-group">
                                <label for="Status" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                                <div class="col-sm-9 ">

                                    <div class="box" ng-show="arrFiles.length>0">
                                        <div class="box-body no-padding">
                                            <table class="table table-condensed table-striped">
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Tên file</th>
                                                    <th style="width: 100px">Loại</th>
                                                    <th style="width: 30px">Xem</th>
                                                    <th style="width: 30px">Xóa</th>
                                                </tr>
                                                <tr ng-repeat="f in arrFiles">
                                                    <td>
                                                        <div class="checkbox checkbox-primary" style="padding-top:2px!important; min-height:0px!important">
                                                            <input id="cboDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="f.default" ng-checked="f.default=='1'">
                                                            <label for="cboDocumment{{$index}}">
                                                                &nbsp;
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style=" white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  max-width: 150px;">
                                                        {{f.name}}
                                                    </td>
                                                    <td>
                                                        {{f.fileType}}
                                                    </td>
                                                    <td><a class="btn btn-xs btn-danger" title="download" href="../../Upload/{{f.fileName}}" download="{{f.name}}"><i><i class="fa fa-download"></i></a></td>
                                                    <td><a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteFile($index,f)"><i class="fa fa-times"></i></a></td>
                                                </tr>


                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2 pull-left" ng-show="dataSelected.ID==0||actType=='copy'">
                                <button class="btn col-xs-12 btn-primary" tabindex="30"
                                        ng-disabled="addProductForm.Name.$error.required"
                                        ng-click="actionConfirm('INSERT')">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Thêm
                                </button>
                            </div>
                            <div class="col-md-4 col-md-offset-2 pull-left" ng-show="dataSelected.ID!=0&&actType!='copy'" ng-if="isEditsRole=='1'">
                                <button class="btn col-xs-12 btn-danger" tabindex="31"
                                        ng-click="actionConfirm('UPDATE')">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Lưu thay đổi
                                </button>
                            </div>
                            <div class="col-md-4 pull-left">
                                <button class="btn col-xs-12" tabindex="32"
                                        ui-sref="productlist">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Trở về
                                </button>
                            </div>
                        </div>

                    </div>


            </form>
        </div>
    </section>
</kq>
<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>

