<kq ng-controller="CustomerCtrl" ng-init="init()">
    <content-header title-name="Thêm mới khách hàng" ng-if="isNewHeader==true"></content-header>
    <content-header title-name="Hiệu chỉnh  khách hàng" ng-if="isNewHeader==false"></content-header>
    <!-- Main content -->
    <section class="content">
        <div class="row ">
            <input type=" text" class="form-control hidden" id="ID" name="ID" placeholder="ID" ng-model="dataSelected.ID" ng-change="changeText()" />
            <form class="form-horizontal row" name="addProductForm" novalidate="">
                <div class="col-md-12 col-sm-12">

                    <!--Column Left-->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên công ty</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ID" name="Name" ng-model="dataSelected.Name" tabindex="1" ng-change="changeText()" required />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword3" class="col-sm-3 control-label">Mã số thuế</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="dataSelected.TaxID" tabindex="2">
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control text-center col-sm-10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.ReceiveDate" is-open="openedReceiveDateTime" close-text="Close" id="txtReceiveDateTime" ng-click="openedReceiveDateTime=true" tabindex="3" placeholder="Ngày nhận KH " />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedReceiveDateTime=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Lĩnh vực kinh doanh</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="dataSelected.BusinessArea" tabindex="4">
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Nhóm khách hàng</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="dataSelected.customerGroupID" tabindex="5"
                                        ng-options="item.Value as item.Name for item in customerGroup">
                                    <option value="">-- Chọn nhóm</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="HirePrice" class="col-sm-3 control-label text-left-important">Nhóm diện tích</label>
                            <div class="col-sm-9 ">
                                <select class="form-control" ng-model="dataSelected.State" tabindex="5"
                                        ng-options="item.Value as item.Name for item in leasingAreaGroup">
                                    <option value="">-- Chọn nhóm diện tích</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Diện tích thuê</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="AreaDescription" name="AreaDescription" tabindex="7" ng-model="dataSelected.HireAreaFrom" placeholder="Từ" />
                            </div>
                            <div class="col-sm-4">
                                <input type=" text" class="form-control" id="HirePrice" name="HirePrice" tabindex="7" ng-model="dataSelected.HireAreaTo" placeholder="Đến" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Giá thuê</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="AreaDescription" name="AreaDescription" tabindex="7" ng-model="dataSelected.HirePriceFrom" placeholder="Từ" />
                            </div>
                            <div class="col-sm-4">
                                <input type=" text" class="form-control" id="HirePrice" name="HirePrice" tabindex="7" ng-model="dataSelected.HirePriceTo" placeholder="Đến" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Khu vực thuê</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HireSector" name="HireSector" tabindex="9" ng-model="dataSelected.HireSector" placeholder="" />
                            </div>
                            <div class="col-sm-4">
                                <!--<div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" placeholder="Thời gian thuê" ng-model="dataSelected.HireDuration" is-open="openedDD1" close-text="Close" id="txtOpenedDD1" ng-click="openedDD1=true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedDD1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>-->
                                <input type=" text" class="form-control ng-pristine ng-valid ng-touched" id="HireDuration" name="HireDuration" tabindex="10" ng-model="dataSelected.HireDuration" placeholder="Thời gian thuê">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Lưu ý nhu cầu</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="State" name="State" tabindex="11" ng-model="dataSelected.DemandNode" placeholder="" ng-change="changeText()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Hướng toà nhà</label>
                            <div class="col-sm-3 ">
                                <select tabindex=" 12" ng-model="dataSelected.BuildingDirectionID" name="BuildingDirectionID" id="BuildingDirectionID" class="form-control"
                                        ng-options="option.Value as option.Name for option in buildingDirectionIDSelectList">
                                    <option value="">-- Chọn hướng </option>
                                </select>
                            </div>
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important padding-left-0 padding-right-0">Hướng văn phòng</label>
                            <div class="col-sm-3 ">
                                <select tabindex=" 13" ng-model="dataSelected.OfficeDirectionID" name="OfficeDirectionID" id="OfficeDirectionID" class="form-control"
                                        ng-options="option.Value as option.Name for option in buildingDirectionIDSelectList">
                                    <option value="">-- Chọn hướng </option>
                                </select>
                            </div>
                        </div>
                        <g ng-repeat="item in listContact| filter:{ Status:0 }">
                            <div class="form-group">
                                <label for="HirePrice" class="col-sm-3 control-label text-left-important"><span ng-show="$first">Thông tin liên hệ </span> </label>
                                <div class="col-sm-5 ">
                                    <input type=" text" class="form-control" placeholder="Tên" tabindex="14" ng-model="item.Name" />
                                </div>
                                <div class="col-sm-4 ">
                                    <input type=" text" class="form-control" tabindex="14" ng-model="item.Phone" placeholder="Điện thoại" />
                                </div>

                            </div>
                            <div class="form-group">
                                <!--<div for="PriceDescription" class="col-sm-3 text-right"><a type="button" class="btn btn-primary ng-scope"><i class=" fa fa-plus"></i></a></div>-->
                                <div class="col-sm-1 col-sm-offset-2 ">

                                    <button type="button" class="btn btn-danger start " tabindex=" 14" ng-click="removeItemList(item)" ng-if="$index>0">
                                        <i class=" fa fa-minus"></i>

                                    </button>
                                    <button type="button" class="btn btn-primary start " tabindex=" 14" ng-click="listContact=addItemList(listContact)" ng-if="$first">
                                        <i class=" fa fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 ">
                                    <input type=" text" class="form-control" placeholder="Chức vụ" tabindex="14" ng-model="item.Position" />
                                </div>
                                <div class="col-sm-4 ">
                                    <input type=" text" class="form-control" tabindex="14" ng-model="item.Email" placeholder="Email" />
                                </div>
                            </div>
                        </g>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Địa chỉ</label>
                            <div class="col-sm-9 ">
                                <select class="form-control" ng-model="dataSelected.AddressCity" tabindex="20" placeholder="Tỉnh/thành phố"
                                        ng-options="item.ID as item.Name for item in citySelectList" disabled="disabled"></select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                            <div class="col-sm-5 ">
                                <select class="form-control" ng-model="dataSelected.AddressDistrict" tabindex="21"
                                        ng-options="item.ID as item.Name for item in districtSelectList"
                                        ng-change="changeDistrict(dataSelected.DistrictID)">
                                    <option value="">-- Chọn Quận/Huyện</option>
                                </select>
                            </div>
                            <div class="col-sm-4 ">
                                <select class=" form-control" ng-model="dataSelected.AddressWard" tabindex="22"
                                        ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:dataSelected.AddressDistrict"
                                        ng-disabled="dataSelected.AddressDistrict == null || dataSelected.AddressDistrict == ''">
                                    <option value="">
                                        -- Chọn Phường/Xã
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important"></label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Số nhà" tabindex="23" ng-model="dataSelected.AddressNumber" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="24" ng-model="dataSelected.AddressStreet" placeholder="Đường" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Thông tin khác</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="dataSelected.OtherInfo" tabindex="25" placeholder="OtherInfo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Ngày thuê</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="27" datepicker-popup="{{'dd-MM-yyyy'}}" placeholder="Thời gian thuê" ng-model="dataSelected.HireDate" is-open="openedHireDate" close-text="Close" id="txtopenedHireDate" ng-click="openedHireDate=true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedHireDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="28" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.HireExpireDate" is-open="openedHireExpireDate" close-text="Close" id="txtHireExpireDate" ng-click="openedHireExpireDate=true" placeholder="Ngày hết HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedHireExpireDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Địa chỉ thuê mới</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="ContactPhone" name="ContactPhone" tabindex="29" ng-model="dataSelected.NewHireAddressBuilding" placeholder="Tên toà nhà" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="NewHireAddressFloor" name="ContactPhone" tabindex="30" ng-model="dataSelected.NewHireAddressFloor" placeholder="Tầng" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Địa chỉ</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Tỉnh/thành phố" tabindex="31" ng-model="dataSelected.AddressProvince" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important"></label>
                            <div class="col-sm-5 ">
                                <select class="form-control" ng-model="dataSelected.NewHireAddressDistrict" tabindex="32"
                                        ng-options="item.ID as item.Name for item in districtSelectList"
                                        ng-change="changeDistrict(dataSelected.NewHireAddressDistrict)">
                                    <option value="">-- Chọn Quận/Huyện</option>
                                </select>
                            </div>
                            <div class="col-sm-4 ">
                                <select class=" form-control" ng-model="dataSelected.NewHireAddressWard" tabindex="33"
                                        ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:dataSelected.NewHireAddressDistrict"
                                        ng-disabled="dataSelected.NewHireAddressDistrict == null || dataSelected.NewHireAddressDistrict == ''">
                                    <option value="">
                                        -- Chọn Phường/Xã
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important"></label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Số nhà" tabindex="34" ng-model="dataSelected.NewHireAddressNumber" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="35" ng-model="dataSelected.NewHireAddressStreet" placeholder="Đường" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ContactMgntName" class="col-sm-3 control-label text-left-important">HH xúc tiến HĐ</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="ContactMgntName" name="BonusCreateContract4Customer" tabindex="36" ng-model="dataSelected.BonusCreateContract4Customer" placeholder="HH xúc tiến HĐ" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ContactOwnerNane" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" id="HirePrice" placeholder="Diện tích đã ký HĐ" tabindex="37" ng-model="dataSelected.AreaInContract" />
                            </div>
                            <div class="col-sm-4 ">
                                <input type=" text" class="form-control" id="PriceInContract" name="PriceInContract" tabindex="38" ng-model="dataSelected.PriceInContract" placeholder="Giá Chốt" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="LeasingCapabilities" class="col-sm-3 control-label text-left-important">Thời gian đặt cọc</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="39" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.DepositDate" is-open="openedDepositDate" close-text="Close" id="txtDepositDate" ng-click="openedDepositDate=true" placeholder="Ngày đặt cọc" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedDepositDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Elevator" class="col-sm-3 control-label text-left-important">Thời gian ký HĐ</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="40" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.SignContractDate" is-open="openedSignContractDate" close-text="Close" id="txtSignContractDate" ng-click="openedSignContractDate=true" placeholder="Thời gian ký HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedSignContractDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="41" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.OutContractDate" is-open="openedOutContractDate" close-text="Close" id="txtOutContractDate" ng-click="openedOutContractDate=true" placeholder="Thời gian xuất HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedOutContractDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PowerBackup" class="col-sm-3 control-label text-left-important">Thời gian nhận tiền HH</label>
                            <div class="col-sm-5">
                                <div class="input-group ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="42" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.ReceiveBonusDate" is-open="openedReceiveBonus" close-text="Close" id="txtReceiveBonus" ng-click="openedReceiveBonus=true" placeholder="Thời gian ký HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedReceiveBonus=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <select class=" form-control" ng-model="dataSelected.IsReceiveBonus" tabindex="43">
                                    <option value="1">
                                        Đã nhận
                                    </option>
                                    <option value="0" selected>
                                        Chưa nhận
                                    </option>

                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="CoolerSystem" class="col-sm-3 control-label text-left-important">HH đã có VAT</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="CoolerSystem" name="BonusWithVAT" tabindex="44" ng-model="dataSelected.BonusWithVAT ">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="TimeToSetup" class="col-sm-3 control-label text-left-important">HH chưa VAT</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="BonusWithoutVAT" name="BonusWithoutVAT" tabindex="45" ng-model="dataSelected.BonusWithoutVAT ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TimeWork" class="col-sm-3 control-label text-left-important">Doanh thu thực</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="Income" name="Income" tabindex="46" ng-model="dataSelected.Income">
                            </div>
                        </div>

                    </div>
                    <!--Column Right-->
                    <div class="col-md-6 col-sm-6">


                        <div class="form-group" ng-repeat="item in listCareNote| filter:{ Type: 'CAREDURATION',Status:0 }">
                            <label for="PackingBikePosition" class="col-sm-3 control-label text-left-important" title="{{item.Note}}"> <span ng-show="$first">QT chăm sóc </span> </label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" name="PackingBikePosition" tabindex="47" ng-model="item.Note" placeholder="Quá trình chăm sóc " title="{{item.Note}}" />
                            </div>
                            <div class="col-sm-3 padding-left-0 padding-right-0 ">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="47" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="item.NoteDate" is-open="openedCareNote$index" close-text="Close" id="txtHireExpireDate" ng-click="openedCareNote$index=true" placeholder="Thời gian ký HĐ" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedCareNote$index=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                            <div class="col-sm-1 padding-left-0  text-right">
                                <a type="button" class="btn btn-danger" ng-click="removeItemList(item)" ng-if="$index>0" tabindex="47"><i class=" fa fa-minus"></i></a>
                                <a type="button" class="btn btn-primary" ng-click="listCareNote=addItemList(listCareNote,'CAREDURATION')" ng-if="$first" tabindex="47"><i class=" fa fa-plus"></i></a>
                            </div>
                        </div>




                        <div class="form-group" ng-repeat="item in listCareNote| filter:{ Type: 'CUSTOMERFEEDBACK',Status:0 }">
                            <label for="PackingBikePosition" class="col-sm-3 control-label text-left-important" title="{{item.Note}}"> <span ng-show="$first">Phản hồi KH </span> </label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" name="PackingBikePosition" tabindex="48" ng-model="item.Note" placeholder="Phản hồi Khách hàng " title="{{item.Note}}" />
                            </div>
                            <div class="col-sm-3 padding-left-0 padding-right-0 ">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="48" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="item.NoteDate" is-open="openedCustomerContact$index" close-text="Close" ng-click="openedCustomerContact$index=true" placeholder="Thời gian phản hồi" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedCustomerContact$index=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                            <div class="col-sm-1 padding-left-0  text-right">
                                <a type="button" class="btn btn-danger" ng-click="removeItemList(item)" ng-if="$index>0" tabindex="48"><i class=" fa fa-minus"></i></a>
                                <a type="button" class="btn btn-primary" ng-click="listCareNote=addItemList(listCareNote,'CUSTOMERFEEDBACK')" ng-if="$first" tabindex="48"><i class=" fa fa-plus"></i></a>
                            </div>
                        </div>


                        <div class="form-group" ng-repeat="item in listCareNote| filter:{ Type: 'CARESTRATEGY',Status:0 }">
                            <label for="PackingBikePosition" class="col-sm-3 control-label text-left-important" title="{{item.Note}}"> <span ng-show="$first">Chiến lược chăm sóc </span> </label>
                            <div class="col-sm-5 ">
                                <input type=" text" class="form-control" name="PackingBikePosition" tabindex="49" ng-model="item.Note" placeholder="Chiến lược chăm sóc" title="{{item.Note}}" />
                            </div>
                            <div class="col-sm-3 padding-left-0 padding-right-0 ">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="49" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="item.NoteDate" is-open="openedlistStrategyCare$index" close-text="Close" ng-click="openedlistStrategyCare$index=true" placeholder="Thời gian" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedlistStrategyCare$index=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                            <div class="col-sm-1 padding-left-0  text-right">
                                <a type="button" class="btn btn-danger" ng-click="removeItemList(item)" ng-if="$index>0" tabindex="49"><i class=" fa fa-minus"></i></a>
                                <a type="button" class="btn btn-primary" ng-click="listCareNote=addItemList(listCareNote,'CARESTRATEGY')" ng-if="$first" tabindex="49"><i class=" fa fa-plus"></i></a>
                            </div>
                        </div>




                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Ưu điểm</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="ElectricityFee" name="ElectricityFee" tabindex="50" ng-model="dataSelected.Advantages" placeholder="Ưu điểm" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Nhược điểm</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="ElectricityFee" name="Disadvantages" tabindex="51" ng-model="dataSelected.Disadvantages" placeholder="Nhược điểm" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Bài học kinh nghiệm</label>
                            <div class="col-sm-9 ">
                                <!--<input type=" text" class="form-control" id="OfficeRank" name="OfficeRank" tabindex="43" ng-model="dataSelected.OfficeRank" ng-change="changeText()" />-->
                                <textarea name=" description" id="Experience" class="form-control" rows="4" tabindex="52" placeholder="" ng-model="dataSelected.Experience"></textarea>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Ghi chú</label>
                            <div class="col-sm-9 ">
                                <!--<input type=" text" class="form-control" id="OfficeRank" name="OfficeRank" tabindex="43" ng-model="dataSelected.OfficeRank" ng-change="changeText()" />-->
                                <textarea name=" description" id="Description" class="form-control" rows="4" tabindex="53" placeholder="" ng-model="dataSelected.Note"></textarea>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Kênh khách hàng</label>
                            <div class="col-sm-9 ">
                                <input type=" text" class="form-control" id="Chanel" name="Chanel" tabindex="54" ng-model="dataSelected.Chanel" ng-change="changeText()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">
                                Chuyển đối tác
                            </label>
                            <div class="col-sm-5 ">
                                <select class="form-control" ng-model="dataSelected.TransferPartner" tabindex="55"
                                        ng-options="item.Value as item.Name for item in areaGroupIDSelectList"></select>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group calendar-right">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="56" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.TransferPartnerDateTime" is-open="openedTransferPartnerDateTime" close-text="Close" id="txtTransferPartnerDateTime" ng-click="openedTransferPartnerDateTime=true" placeholder="Thời gian chuyển đối tác" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openedTransferPartnerDateTime=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Lý do ngừng chăm sóc</label>
                            <div class="col-sm-9 ">
                                <textarea name=" description" id="Description" class="form-control" rows="4" tabindex="58" placeholder="" ng-model="dataSelected.StopCareReason"></textarea>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Status" class="col-sm-3 control-label text-left-important">Tài liệu</label>
                            <div class="col-sm-5">
                                <span class="btn btn-primary fileinput-button col-xs-12" ng-class="{disabled: disabled}" ng-disabled="!dataSelected.Name" tabindex=" 59">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Chọn file...</span>
                                    <input type="file" nv-file-select="" uploader="uploader" multiple="">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Status" class="col-sm-3 control-label text-left-important">&nbsp;</label>
                            <div class="col-sm-9 ">

                                <div class="box" ng-show="arrFiles.length>0">
                                    <div class="box-body no-padding">
                                        <table class="table table-condensed table-striped">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Tên file</th>
                                                <th style="width: 30px">Xem</th>
                                                <th style="width: 30px">Xóa</th>
                                            </tr>
                                            <tr ng-repeat="f in arrFiles">
                                                <td>
                                                    <div class="checkbox checkbox-primary" style="padding-top:2px!important; min-height:0px!important">
                                                        <input id="cboDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="f.default" ng-checked="f.default=='1'">
                                                        <label for="cboDocumment{{$index}}">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style=" white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  max-width: 150px;">
                                                    {{f.name}}
                                                </td>
                                               
                                                <td><a class="btn btn-xs btn-danger" title="download" href="../../Upload/{{f.fileName}}" download="{{f.name}}"><i><i class="fa fa-download"></i></a></td>
                                                <td><a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteFile($index,f)"><i class="fa fa-times"></i></a></td>
                                            </tr>


                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2 pull-left" ng-show="dataSelected.ID==0||actType=='copy'">
                            <button class="btn col-xs-12 btn-primary" tabindex="300"
                                    ng-disabled="addProductForm.Name.$error.required"
                                    ng-click="actionConfirm('INSERT')">
                                <span class="glyphicon glyphicon-plus"></span>
                                Thêm
                            </button>
                        </div>
                        <div class="col-md-4 col-md-offset-2 pull-left" ng-show="dataSelected.ID!=0&&actType!='copy'" ng-if="isEditsRole=='1'">
                            <button class="btn col-xs-12 btn-danger" tabindex="301"
                                    ng-click="actionConfirm('UPDATE')">
                                <span class="glyphicon glyphicon-plus"></span>
                                Lưu thay đổi
                            </button>
                        </div>
                        <div class="col-md-4 pull-left">
                            <button class="btn col-xs-12" tabindex="302"
                                    ui-sref="productlist">
                                <span class="glyphicon glyphicon-plus"></span>
                                Trở về
                            </button>
                        </div>
                    </div>

                </div>


            </form>
        </div>
    </section>
</kq>
<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>

