<content-header title-name="Danh sách khách hàng"></content-header>

<!-- Main content -->
<section class="content overflow-x-scroll">
    <div class="row " ng-init="init()">

        <div class="col-md-12 col-sm-12">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-search"></i>
                    <h3 class="box-title text-uppercase">
                        Thông tin tìm kiếm
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-default btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form class="form-horizontal row" name="addProductForm" novalidate="">
                        <!--Column Left-->
                        <div class="col-md-6 col-sm-6">


                            <div class="form-group">
                                <label for="Name" class="col-sm-4 control-label text-left-important">Tên công ty </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Name" name="Name" ng-model="searchEntry.Name" placeholder="" tabindex="1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Name" class="col-sm-4 control-label text-left-important">Mã số thuế </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Name" name="Name" ng-model="searchEntry.TaxID" placeholder="" tabindex="2">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Name" class="col-sm-4 control-label text-left-important">Số điện thoại</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Name" name="Name" ng-model="searchEntry.ContactPhone" placeholder="" tabindex="3">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PriceDescription" class="col-sm-4 control-label text-left-important">Nhân viên chăm sóc</label>
                                <div class="col-sm-8 ">
                                    <!--<multiselect class="input-xlarge" multiple="true"
                                                 ng-model="searchEntry.listUserID"
                                                 options="c.FullName for c in userList"
                                                 change="selected()" tabindex="11"></multiselect>-->

                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="searchEntry.listUserID"
                                                 options="c.Name for c in userList"
                                                 change="selected()" tabindex="11"></multiselect>

                                </div>
                            </div>



                            <div class="form-group">
                                <label for="PriceFrom" class="col-sm-4 control-label text-left-important">Ngày nhận khách </label>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="9" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model=" searchEntry.ReceiveDateFrom" is-open="openedDD1" close-text="Close" id="txtOpenedDD1" ng-click="openedDD1=true" placeholder="Từ" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedDD1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="searchEntry.ReceiveDateTo" is-open="openedDD2" close-text="Close" id="txtOpenedDD2" ng-click="openedDD2=true" placeholder="Đến" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedDD2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="AvailableAreaFrom" class="col-sm-4 control-label text-left-important">Diện tích trống</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="AvailableAreaFrom" name="AvailableAreaFrom" ng-model="searchEntry.AvailableAreaFrom" placeholder="Diện tích trống từ" tabindex="5">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="AvailableAreaTo" name="AvailableAreaTo" ng-model="searchEntry.AvailableAreaTo" placeholder="Diện tích trống đến" tabindex="6">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PriceFrom" class="col-sm-4 control-label text-left-important">Giá thuê</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="PriceFrom" name="PriceFrom" ng-model="searchEntry.PriceFrom" placeholder="Giá thuê từ" tabindex="7">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="PriceTo" name="PriceTo" ng-model="searchEntry.PriceTo" placeholder="Giá thuê đến" tabindex="8">
                                </div>
                            </div>



                        </div>
                        <!--Column Right-->
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="PriceFrom" class="col-sm-4 control-label text-left-important">Thời gian thuê </label>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="9" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model=" searchEntry.HireDateFrom" is-open="openedHireDateFrom" close-text="Close" id="txtHireDateFrom" ng-click="openedHireDateFrom=true" placeholder="Từ" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedHireDateFrom=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="searchEntry.HireDateTo" is-open="openedHireDateTo" close-text="Close" id="txtHireDateTo" ng-click="openedHireDateTo=true" placeholder="Đến" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedHireDateTo=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Lĩnh vực kinh doanh</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="BusinessArea" name="BusinessArea" ng-model="searchEntry.BusinessArea" tabindex=" 15">
                                </div>


                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Tên tòa nhà</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="BusinessArea" name="BusinessArea" ng-model="searchEntry.HouseName" placeholder="chưa làm search tiêu chí này" tabindex=" 15">
                                </div>


                            </div>

                            <div class="form-group">
                                <label for="DistrictID" class="col-sm-4 control-label text-left-important">Quận/Huyện</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="searchEntry.DistrictID"
                                            ng-options="item.ID as item.Name for item in districtSelectList"
                                            ng-change="changeDistrict(searchEntry.DistrictID)" tabindex="2">
                                        <option value="">-- Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="WardID" class="col-sm-4 control-label text-left-important">Phường/Xã</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="searchEntry.WardID"
                                            ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:searchEntry.DistrictID"
                                            ng-disabled="searchEntry.DistrictID == null || searchEntry.DistrictID == ''" tabindex="3">
                                        <option value="">
                                            -- Tất cả
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Tên đường</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="searchEntry.StreetName" tabindex="4">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Kênh khách hàng</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="searchEntry.Chanel" tabindex="4">
                                </div>

                            </div>

                        </div>

                    </form>

                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-12 form-horizontal">
                            <div class="col-md-4  col-md-offset-4">
                                <div class="form-group">
                                    <input type="button" class="form-control btn-primary" ng-click="search(searchEntry)" value="TÌM KIẾM">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigator part -->
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <ul class="nav nav-tabs">
                        <li class="text-uppercase " ng-class="{ 'active':$first}" ng-repeat="g in  areaGroupIDSelectList"><a data-toggle="tab" href="#GC{{g.Value}}" ng-bind-html="g.ValueString"></a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="GC{{g.Value}}" class="tab-pane fade in" ng-class="{ 'active':$first}" ng-repeat="g in  areaGroupIDSelectList">
                            <angular-grid-table grid-info="gridInfo" root-scope="this"></angular-grid-table>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade " id="infoCustomerChangeGroup" tabindex="-1" role="dialog" aria-labelledby="infoCustomerChangeGroup" style="display:block">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header btn-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="infoCustomerChangeGroup">Chuyên nhóm khách hàng</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Nhóm hiện tại</label>
                                <input type="text" class="form-control" ng-model="exportInfo.addressTo">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Nhóm mới</label>
                                <input type="text" class="form-control" ng-model="exportInfo.FullName">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Lý do chuyển</label>
                                <area type="text" class="form-control" ng-model="exportInfo.Position" row="3"></area >
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" ng-click="exportFileDialog(this)">Xuất file</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade " id="infoExportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header btn-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Điền thông tin xuất file</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Gủi đến</label>
                                <input type="text" class="form-control" ng-model="exportInfo.addressTo">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Họ tên</label>
                                <input type="text" class="form-control" ng-model="exportInfo.FullName">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Chức vụ</label>
                                <input type="text" class="form-control" ng-model="exportInfo.Position">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Điện thoại bàn</label>
                                <input type="text" class="form-control" ng-model="exportInfo.TelePhone">
                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Điện thoại di động</label>
                                <input type="text" class="form-control" ng-model="exportInfo.CellPhone">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Email</label>
                                <input type="text" class="form-control" ng-model="exportInfo.Email">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Tên file</label>
                                <input type="text" class="form-control" ng-model="exportInfo.fileName">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" ng-click="exportFileDialog(this)">Xuất file</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-backdrop fade in" ng-if="isShowModal"></div>
    </div>






</section>
<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>

<iframe src="../service.data/excel/export.aspx" style="display:none" id="hiddenDownloader" />