<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Server" value="103.232.120.150"/>
		<add key="Database" value="KimQuang"/>
		<add key="User" value="huuphu"/>
		<add key="Password" value="Huuphu123456"/>
    <add key="UploadDirectory" value="D:\Working\Projects\KimQuang\kimquang.git\trunk\Presentation.KimQuang\\Upload"/>
    <add key="DownloadDirectory" value="D:\Working\Projects\KimQuang\kimquang.git\trunk\Presentation.KimQuang\Content\download"/>
		<add key="PMSA.Framework.Log.IsLog" value="1" />
		<add key="PMSA.Framework.Log.LogByHour" value="1" />
		<add key="PMSA.Framework.Log.LogPath" value="D://Temp" />
		<!--<add key="Server" value=".\SQLEXPRESS"/>
		<add key="Database" value="KimQuang"/>
		<add key="User" value="sa"/>
		<add key="Password" value="123456"/>-->
  

	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>

		<pages validateRequest ="false" />
		<httpRuntime requestValidationMode = "2.0" />
	</system.web>
</configuration>
