<content-header title-name="Quản Lý Nhóm Tài Khoản"></content-header>

<section class="content overflow-x-scroll">
    <div class="row " ng-init="init()">


        <div class="col-md-12">
            <div id="exTab3" class="container col-md-12">
                <ul class="nav nav-pills">
                    <li ng-class="{'active': tabActive=='1'}" ng-click="tabActive='1'">
                        <a href="#1b" data-toggle="tab">Thông tin nhóm</a>
                    </li>
                    <li ng-class="{'active': tabActive=='2'}" ng-click="tabActive='2'" ng-show="entry.ID!='0'">
                        <!--ng-show="entry.ID!='0'"-->
                        <a href="#2b" data-toggle="tab">Dữ liệu</a>
                    </li>

                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane" id="1b" ng-class="{'active': tabActive=='1'}">
                        <form class="form-horizontal row" name="addProductForm" novalidate="">
                            <!--Column Left-->
                            <div class="col-md-4  ">
                                <div class="form-group" style="text-align: center; text-transform: uppercase;    font-weight: bolder;">
                                    <h3> Nhóm</h3>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Tên nhóm</label>
                                    <div class="col-sm-9 padding-right-19">
                                        <input ng-model="entry.Name" type="text" class="form-control" id="inputEmail3" placeholder="Tên đăng nhập" ng-change="changeText()"></input>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Mô tả</label>
                                    <div class="col-sm-9 padding-right-19">
                                        <textarea ng-model="entry.Description" type="text" class="form-control" id="inputEmail3" placeholder="Mô tả" ng-change="changeText()"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="employee" class="col-sm-3 control-label">Tình trạng</label>
                                    <div class="col-sm-9 padding-right-19">
                                        <select class="form-control" ng-model="entry.Status" tabindex="43"
                                                ng-options="item.Value as item.Name for item in statusOptions"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="employee" class="col-sm-3 control-label">&nbsp;</label>
                                    <div class="col-sm-4">
                                        <button class="form-control btn-primary" ng-click="actionConfirm('INSERT')" ng-if="entry.ID=='0'">Thêm mới </button>
                                        <button class="form-control btn-primary" ng-click="actionConfirm('UPDATE')" ng-if="entry.ID!='0'">Cập nhật</button>

                                    </div>
                                    <div class="col-sm-5 pull-right">
                                        <button class="form-control btn-primary pull-right" ng-click="reset()">Reset </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group" style="text-align: center; text-transform: uppercase;    font-weight: bolder;">
                                    <h3> Chức năng </h3>
                                </div>
                                <div class="form-group" ng-repeat="role in roles">
                                    <label for="inputEmail3" class="col-sm-3 control-label text-center">{{role.ViewName}}</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox checkbox-primary checkbox-inline" ng-repeat="act in role.Action">
                                            <input class=" styled styled" id="{{act}}{{$index}}" type="checkbox" ng-checked="act.HasPermision=='1'" ng-model="act.HasPermision" ng-true-value="'1'">
                                            <label for="{{act}}{{$index}}">
                                                {{act.ActionName}}
                                            </label>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </form>
                    </div>
                    <div class="tab-pane " id="2b" ng-class="{'active': tabActive=='2'}" >
                        <div class="col-md-12" style="margin-top:10px">

                            <div class="box box-solid box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Phân quyền theo khu vực</h3>
                                    <div class="box-tools pull-right">
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div><!-- /.box-tools -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-12 text-center" style="zoom:1.5">
                                        <div class="checkbox checkbox-inline checkbox-primary">
                                            <input class="styled styled" id="cbDistrictDeneyAll" type="checkbox" ng-click="checkAllowAllDistrict()" ng-model="districtPersmision.allowAll" ng-true-value="'1'" ng-false-value="'0'">
                                            <label for="cbDistrictDeneyAll" class=" text-bold">
                                                Allow All
                                            </label>
                                        </div>

                                        <div class="checkbox checkbox-inline checkbox-primary">
                                            <input class="styled styled" id="checkbox10" type="checkbox" ng-click="checkDenyAllDistrict()" ng-model="districtPersmision.denyAll" ng-true-value="'1'"  ng-true-value="'0'">
                                            <label for="checkbox10" class="text-bold">
                                                Deny All
                                            </label>
                                        </div>


                                    </div>

                                    <div class="col-md-4">

                                        <table class="table table-condensed table-striped ">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Khu vực</th>
                                                <th style="text-align:center">Cho phép</th>
                                                <th style="text-align:center">Từ chối</th>
                                            </tr>
                                            <tr ng-repeat="f in districtPersmision.list" ng-if="$index<8">
                                                <td></td>
                                                <td style=" white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  max-width: 150px;">
                                                    {{f.Name}}
                                                </td>

                                                <td>
                                                    <div class="checkbox checkbox-primary  text-center " style=" padding-top:2px!important; margin-top: 2px;
    margin-bottom: 2px;">
                                                        <input id="cboAllowDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="f.checked" ng-checked="f.checked=='1'">
                                                        <label for="cboAllowDocumment{{$index}}">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="checkbox checkbox-primary  text-center " style=" padding-top:2px!important; margin-top: 2px;
    margin-bottom: 2px;">
                                                        <input id="cboDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'0'" ng-false-value="'1'" ng-model="f.checked" ng-checked="f.checked=='0'">
                                                        <label for="cboDocumment{{$index}}">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>


                                        </table>
                                    </div>
                                    <div class="col-md-4">

                                        <table class="table table-condensed table-striped ">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Khu vực</th>
                                                <th style="text-align:center">Cho phép</th>
                                                <th style="text-align:center">Từ chối</th>
                                            </tr>
                                            <tr ng-repeat="f in districtPersmision.list" ng-if="$index>=8 &&$index<16">
                                                <td></td>
                                                <td style=" white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  max-width: 150px;">
                                                    {{f.Name}}
                                                </td>

                                                <td>
                                                    <div class="checkbox checkbox-primary  text-center " style=" padding-top:2px!important; margin-top: 2px;
    margin-bottom: 2px;">
                                                        <input id="cboAllowDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="f.checked" ng-checked="f.checked=='1'">
                                                        <label for="cboAllowDocumment{{$index}}">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="checkbox checkbox-primary  text-center " style=" padding-top:2px!important; margin-top: 2px;
    margin-bottom: 2px;">
                                                        <input id="cboDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'0'" ng-false-value="'1'" ng-model="f.checked" ng-checked="f.checked=='0'">
                                                        <label for="cboDocumment{{$index}}">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>


                                        </table>
                                    </div>
                                    <div class="col-md-4">

                                        <table class="table table-condensed table-striped ">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Khu vực</th>
                                                <th style="text-align:center">Cho phép</th>
                                                <th style="text-align:center">Từ chối</th>
                                            </tr>
                                            <tr ng-repeat="f in districtPersmision.list" ng-if="$index>=16">
                                                <td></td>
                                                <td style=" white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  max-width: 150px;">
                                                    {{f.Name}}
                                                </td>

                                                <td>
                                                    <div class="checkbox checkbox-primary  text-center " style=" padding-top:2px!important; margin-top: 2px;
    margin-bottom: 2px;">
                                                        <input id="cboAllowDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="f.checked" ng-checked="f.checked=='1'">
                                                        <label for="cboAllowDocumment{{$index}}">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="checkbox checkbox-primary  text-center " style=" padding-top:2px!important; margin-top: 2px;
    margin-bottom: 2px;">
                                                        <input id="cboDocumment{{$index}}" class="styled" type="checkbox" ng-true-value="'0'" ng-false-value="'1'" ng-model="f.checked" ng-checked="f.checked=='0'">
                                                        <label for="cboDocumment{{$index}}">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>


                                        </table>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="employee" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-4">
                                                <button class="form-control btn-primary" ng-click="actionConfirm('INSERTDATAPERMISION')" ">Cập nhật</button> 
                                            </div>
                                           
                                            <div class="col-sm-4 ">
                                                <button class="form-control btn-primary" ng-click="reset()">Reset </button>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>

                      

                    </div>

                </div>



            </div>

        </div>
        <div class="col-md-12 col-sm-12">

            <div class="box box-default box-solid">
                <div class="box-header with-border box-info">
                    <i class="fa fa-list-ol"></i>
                    <h3 class="box-title text-uppercase">
                        Danh sách nhóm
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-default btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <angular-grid-table grid-info="gridInfo" root-scope="this" list-right="listRight"></angular-grid-table>
                    </div>

                </div>
            </div>
        </div>




    </div>
</section>

<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>