<content-header title-name="Sản phẩm thêm mới"></content-header>

<!-- Main content -->
<section class="content">
    <div class="row " ng-controller="ProductCtrl" ng-init="init()">
        <input type=" text" class="form-control hidden" id="ID" name="ID" placeholder="ID" ng-model="dataSelected.ID" ng-change="changeText()" />
        <form class="form-horizontal row" name="addProductForm" novalidate="">
            <div class="col-md-12 col-sm-12">

                <!--Column Left-->
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Tên sản phẩm</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ID" name="Name" ng-model="dataSelected.Name" tabindex="1" ng-change="changeText()" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ưu tiên</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" ng-model="dataSelected.PriorityLevel" tabindex="2">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="DistrictID" class="col-sm-3 control-label text-left-important">Quận/Huyện</label>
                        <div class="col-sm-9 ">
                            <select class="form-control" ng-model="dataSelected.DistrictID" tabindex="2"
                                    ng-options="item.ID as item.Name for item in districtSelectList"
                                    ng-change="changeDistrict(dataSelected.DistrictID)">
                                <option value="">-- Chọn Quận/Huyện</option>
                            </select>
                        </div>
                    </div><div class="form-group">
                        <label for="WardID" class="col-sm-3 control-label text-left-important">Phường/Xã</label>
                        <div class="col-sm-9" ">
                                            <select class=" form-control" ng-model="dataSelected.WardID" tabindex="3"
                             ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:dataSelected.DistrictID"
                             ng-disabled="dataSelected.DistrictID == null || dataSelected.DistrictID == ''">
                            <option value="">
                                -- Chọn Phường/Xã
                            </option>
                            </select>
                        </div>
                    </div><div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tên đường</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="dataSelected.StreetName" tabindex="4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Số nhà</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="dataSelected.HomeNumber" tabindex="5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HirePrice" class="col-sm-3 control-label text-left-important">Diện tích trống</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="AvailableArea" name="AvailableArea" tabindex="5" placeholder="Định dạng dữ liệu cần nhập: aa,bb cc,dd ee,ff. Ví dụ: 10.5 18.5" ng-model="dataSelected.AvailableArea" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Mô tả diện tích trống</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="AreaDescription" name="AreaDescription" tabindex="5" ng-model="dataSelected.AreaDescription" placeholder="Mô tả diện tích net diện tích cross" ng-change="changeText()" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="HirePrice" class="col-sm-3 control-label text-left-important">Giá cho thuê</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="HirePrice" name="HirePrice" tabindex="6" placeholder="Định dạng dữ liệu cần nhập: aa,bb cc,dd ee,ff. Ví dụ: 10.5 18.5" ng-model="dataSelected.HirePrice" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Tầng</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="FloorArea" name="AvailableFloor" tabindex="8" ng-model="dataSelected.AvailableFloor" placeholder="Tầng trệt tầng 11" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Thời gian trống</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control text-center col-sm-10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="dataSelected.AvailableFrom" is-open="openedDD1" close-text="Close" id="txtOpenedDD1" ng-click="openedDD1=true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openedDD1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Hiện trạng</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="State" name="State" tabindex="10" ng-model="dataSelected.State" placeholder="" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">DT sàn (M2)</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="FloorArea" name="State" tabindex="11" ng-model="dataSelected.FloorArea" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Lưu ý giá</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="PriceDescription" name="PriceDescription" tabindex="12" ng-model="dataSelected.PriceDescription" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Phí quản lý</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="HireManagermentFee" name="HireManagermentFee" tabindex="13" ng-model="dataSelected.HireManagermentFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Giá tổng(M2)</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="TotalPrice" name="TotalPrice" tabindex="14" ng-model="dataSelected.TotalPrice" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Giá tổng(DT)</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="HireTotalAmount" name="HireTotalAmount" tabindex="15" ng-model="dataSelected.HireTotalAmount" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Gía chốt</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="HireFinalPrice" name="HireFinalPrice" tabindex="16" ng-model="dataSelected.HireFinalPrice" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Điện thoại bàn</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="ContactPhone" name="ContactPhone" tabindex="17" ng-model="dataSelected.ContactPhone" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Tên quản lý</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="ContactMgntName" name="ContactMgntName" tabindex="18" ng-model="dataSelected.ContactMgntName" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">DT-Email quản lý</label>
                        <div class="col-sm-4 ">
                            <input type=" text" class="form-control" id="ContactMgntPhone" name="ContactMgntPhone" tabindex="19" ng-model="dataSelected.ContactMgntPhone" placeholder="Số điện thoại quản lý" ng-change="changeText()" />
                        </div>

                        <div class="col-sm-5 ">
                            <input type=" text" class="form-control" id="ContactMgntEmail" name="ContactMgntEmail" tabindex="20" ng-model="dataSelected.ContactMgntEmail" placeholder="Email quản lý" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Tên chủ đầu tư</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="ContactOwnerNane" name="ContactOwnerNane" tabindex="21" ng-model="dataSelected.ContactOwnerNane" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">DT-Email chủ đầu tư</label>
                        <div class="col-sm-4 ">
                            <input type=" text" class="form-control" id="ContactOwnerPhone" name="ContactOwnerPhone" tabindex="22" ng-model="dataSelected.ContactOwnerPhone" placeholder="Số điện thoại chủ đàu tư" ng-change="changeText()" />
                        </div>
                        <div class="col-sm-5 ">
                            <input type=" text" class="form-control" id="ContactMgntEmail" name="ContactOwnerEmail" tabindex="23" ng-model="dataSelected.ContactOwnerEmail" placeholder="Email chủ đàu tư" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">GX-Xe máy</label>
                        <div class="col-sm-4 ">
                            <input type=" text" class="form-control" id="PackingBikeCount" name="PackingBikeCount" tabindex="24" ng-model="dataSelected.PackingBikeCount" placeholder="Số chỗ xe máy" title="Số chỗ xe máy" ng-change="changeText()" />
                        </div>
                        <div class="col-sm-5 ">
                            <input type=" text" class="form-control" id="PackingBikeFee" name="PackingBikeFee" tabindex="25" ng-model="dataSelected.PackingBikeFee" placeholder="Phí gủi xe máy(USD)" title="Phí gủi xe máy(USD" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">GX-Ôtô</label>
                        <div class="col-sm-4 ">
                            <input type=" text" class="form-control" id="PackingCarCount" name="PackingCarCount" tabindex="26" ng-model="dataSelected.PackingCarCount" placeholder="Số chỗ ôtô" title="Số chỗ ôtô" ng-change="changeText()" />
                        </div>
                        <div class="col-sm-5 ">
                            <input type=" text" class="form-control" id="PackingCarFee" name="PackingCarFee" tabindex="27" ng-model="dataSelected.PackingCarFee" placeholder="Phí gủi ôtô(USD)" title="Phí gủi ôtô(USD" ng-change="changeText()" />
                        </div>
                    </div>
                </div>
                <!--Column Right-->
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Tiền điện</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="ElectricityFee" name="ElectricityFee" tabindex="18" ng-model="dataSelected.ElectricityFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Tiền nước</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="ServiceWaterFee" name="ServiceWaterFee" tabindex="29" ng-model="dataSelected.ServiceWaterFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Phí ngoài giờ</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="OtherFee" name="OtherFee" tabindex="30" ng-model="dataSelected.OtherFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Kết cấu</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="OtherFee" name="OtherFee" tabindex="31" ng-model="dataSelected.OtherFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Độ cao trần</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="OtherFee" name="OtherFee" tabindex="30" ng-model="dataSelected.OtherFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Năm hoàn thành</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="OtherFee" name="OtherFee" tabindex="30" ng-model="dataSelected.OtherFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Chủ đầu tư</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="OtherFee" name="OtherFee" tabindex="30" ng-model="dataSelected.OtherFee" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Hướng tòa nhà</label>
                        <div class="col-sm-9 ">
                            <select tabindex=" 21" ng-model="dataSelected.BuildingDirectionID" name="BuildingDirectionID" id="BuildingDirectionID" tabindex="22" class="form-control"
                                    ng-options="option.Value as option.Name for option in buildingDirectionIDSelectList">
                                <option value="">-- Chọn hướng nhà</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Hướng văn phòng</label>
                        <div class="col-sm-9 ">
                            <select tabindex=" 21" ng-model="dataSelected.OfficeDirectionID" name="OfficeDirectionID" id="OfficeDirectionID" tabindex="22" class="form-control"
                                    ng-options="option.Value as option.Name for option in buildingDirectionIDSelectList">
                                <option value="">-- Chọn hướng văn phòng</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Đặt cọc</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="PayByDeposit" name="PayByDeposit" tabindex="30" ng-model="dataSelected.PayByDeposit" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Thanh toán</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="PayByCredit" name="PayByCredit" tabindex="30" ng-model="dataSelected.PayByCredit" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Hoa hồng</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="Bonus" name="Bonus" tabindex="30" ng-model="dataSelected.Bonus" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Hạng văn phòng</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="OfficeRank" name="OfficeRank" tabindex="30" ng-model="dataSelected.OfficeRank" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PriceDescription" class="col-sm-3 control-label text-left-important">Vị trí</label>
                        <div class="col-sm-9 ">
                            <input type=" text" class="form-control" id="BuildingPositio" name="BuildingPositio" tabindex="30" ng-model="dataSelected.BuildingPositio" ng-change="changeText()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="col-sm-3 control-label text-left-important">Chú thích</label>
                        <div class="col-sm-9">
                            <textarea name=" description" id="Description" class="form-control" rows="5" tabindex="14" placeholder="" ng-model="dataSelected.Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Status" class="col-sm-3 control-label text-left-important">Hình ảnh</label>
                        <div class="col-sm-9 ">
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                    <button class="dropzone " ng-click="ChooseImage('image1')">
                                        <span class="dz-message" ng-if="!currentBanner.image1">
                                            Chọn ảnh hình ảnh 1
                                        </span>
                                        <div class="dz-image " ng-if="currentBanner.image1">
                                            <img class="image100" alt="{{currentBanner.image1}}" ng-src="{{currentBanner.image1}}" />
                                        </div>
                                    </button><i class="fa fa-times  text-danger">&nbsp;</i>
                                    <span for="zOrder">Hinh ảnh 1  </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button class="dropzone " ng-click="ChooseImage('layout')">
                                        <span class="dz-message" ng-if="!currentBanner.layout">
                                            Chọn ảnh layout 
                                        </span>
                                        <div class="dz-image " ng-if="currentBanner.layout">
                                            <img class="image100" alt="{{currentBanner.layout}}" ng-src="{{currentBanner.layout}}" />
                                        </div>
                                    </button><i class="fa fa-times  text-danger">&nbsp;</i>
                                    <span for="zOrder">Layout</span>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group pull-left">
                                    <button class="dropzone " ng-click="ChooseImage('brokeragecontract')">
                                        <span class="dz-message" ng-if="!currentBanner.brokeragecontract">
                                            Chọn hợp đồng môi giới
                                        </span>
                                        <div class="dz-image " ng-if="currentBanner.brokeragecontract">
                                            <img class="image100" alt="{{currentBanner.brokeragecontract}}" src="../../../Images/icons/brokeragecontract.png" />
                                        </div>
                                    </button><i class="fa fa-times  text-danger">&nbsp;</i>
                                    <span for="zOrder">HĐ môi giới </span>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group pull-left">
                                    <button class="dropzone " ng-click="ChooseImage('leasescontract')">
                                        <span class="dz-message" ng-if="!currentBanner.leasescontract">
                                            Chọn  hợp đồng cho thuê
                                        </span>
                                        <div class="dz-image " ng-if="currentBanner.leasescontract">
                                            <img class="image100" alt="{{currentBanner.leasescontract}}" src="../../../Images/icons/brokeragecontract.png" />
                                        </div>
                                    </button><i class="fa fa-times  text-danger">&nbsp;</i>
                                    <span for="zOrder">HĐ cho thuê </span>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group pull-left ">
                                    <button class="dropzone " ng-click="ChooseImage('bidcontracts')">
                                        <span class="dz-message" ng-if="!currentBanner.bidcontracts">
                                            Chọn thư chào giá
                                        </span>
                                        <div class="dz-image " ng-if="currentBanner.bidcontracts">
                                            <img class="image100" alt="{{currentBanner.bidcontracts}}" src="../../../Images/icons/brokeragecontract.png" />
                                        </div>
                                    </button><i class="fa fa-times  text-danger">&nbsp;</i>
                                    <span for="zOrder">Thư chào giá </span>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group pull-left ">
                                    <button class="dropzone " ng-click="ChooseImage('proposal')">
                                        <span class="dz-message" ng-if="!currentBanner.proposal">
                                            Chọn Proposal
                                        </span>
                                        <div class="dz-image " ng-if="currentBanner.proposal">
                                            <img class="image100" alt="{{currentBanner.proposal}}" src="../../../Images/icons/brokeragecontract.png" />
                                        </div>
                                    </button><i class="fa fa-times  text-danger">&nbsp;</i>
                                    <span for="zOrder">Proposal </span>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group  ">
                                    <button class="dropzone " ng-click="ChooseImage('ortherpapers')">
                                        <span class="dz-message" ng-if="!currentBanner.ortherpapers">
                                            Chọn giấy tờ khác
                                        </span>
                                        <div class="dz-image " ng-if="currentBanner.ortherpapers">
                                            <img class="image100" alt="{{currentBanner.ortherpapers}}" src="../../../Images/icons/brokeragecontract.png" />
                                        </div>
                                    </button><i class="fa fa-times  text-danger">&nbsp;</i>
                                    <span for="zOrder">Giấy tờ khác </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
           
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 pull-left" ng-show="dataSelected.ID==0">
                <button class="btn col-xs-12 btn-primary" tabindex="30"
                        ng-disabled="addProductForm.Name.$error.required"
                        ng-click="actionConfirm('INSERT')">
                    <span class="glyphicon glyphicon-plus"></span>
                    Thêm
                </button>
            </div>
            <div class="col-md-4 col-md-offset-1 pull-left" ng-show="dataSelected.ID!=0">
                <button class="btn col-xs-12 btn-danger" tabindex="31"
                        ng-click="actionConfirm('UPDATE')">
                    <span class="glyphicon glyphicon-plus"></span>
                    Lưu thay đổi
                </button>
            </div>
            <div class="col-md-4 pull-left">
                <button class="btn col-xs-12" tabindex="32"
                        ui-sref="productlist">
                    <span class="glyphicon glyphicon-plus"></span>
                    Trở về
                </button>
            </div>
        </div>

    </div>
    <!--<div class="col-sm-12 col-md-8 col-md-offset-2">
        <right-action theme-button="themeButton" full-action="false"></right-action>
    </div>-->


    <div ng-hide="true">

        <input type="text" ng-hide="true" ng-model="currentBanner.image1" />
        <button id="uploadImage1" ng-hide="true"></button>
        <input type="text" ng-hide="true" ng-model="currentBanner.layout" />
        <button id="uploadLayout" ng-hide="true"></button>

        <input type="text" ng-hide="true" ng-model="currentBanner.brokeragecontract" />
        <button id="uploadbrokeragecontract" ng-hide="true"></button>



        <input type="text" ng-hide="true" ng-model="currentBanner.leasescontract" />
        <button id="uploadleasescontract" ng-hide="true"></button>

        <input type="text" ng-hide="true" ng-model="currentBanner.bidcontracts" />
        <button id="uploadbidcontracts" ng-hide="true"></button>

        <input type="text" ng-hide="true" ng-model="currentBanner.proposal" />
        <button id="uploadproposal" ng-hide="true"></button>


        <input type="text" ng-hide="true" ng-model="currentBanner.ortherpapers" />
        <button id="uploadortherpapers" ng-hide="true"></button>
    </div>
    </form>
    </div>
</section>
<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>