<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title ng-binding"><span class="glyphicon glyphicon-check"></span>&nbsp; {{title}}</h4>
</div>

<div class="modal-body">
    <div class="row text-center">
        <h1 class="text-bold">UPLOAD FILE {{}}</h1>
    </div>
    <div class="row">
        <div class="col-md-12  projectForm">
            <form class="form-horizontal firstGroup">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-10 control-label text-bold heading">General Information (Thông tin chung) </label>
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AgentName" class="col-sm-4 control-label">File cần up</label>
                        <div class="col-sm-7">
                            <div class="form-group  ">
                                <button class="dropzone " ng-click="ChooseImage('ortherpapers')">
                                    <span class="dz-message" ng-if="!dataSelected.Ortherpapers">
                                        Chọn giấy tờ khác
                                    </span>
                                    <div class="dz-image " ng-if="dataSelected.Ortherpapers">
                                        <img class="image100" alt="{{dataSelected.Ortherpapers}}" src="../../../Images/icons/brokeragecontract.png" />
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.box-body -->

            </form>

            <form class="form-horizontal childGroup">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-10 control-label text-bold heading">Danh sách file </label>
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                    </div>
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-condensed table-striped">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th style="width: 70px; text-align: center">Mặc định</th>
                                    <th>Tên file</th>
                                    <th style="width: 50px">Xóa</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>
                                        <span class="radio" style="text-align:center">
                                            <input type="radio" id="singleRadio1" value="option1" name="radioSingle1" aria-label="Single radio One">
                                            <label></label>
                                        </span>
                                    </td>
                                    <td><a download="Fil1e" href="">File 1</a></td>
                                    <td><a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteNews(parentIndex, news.newses)"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>
                                        <span class="radio" style="text-align:center">
                                            <input type="radio" id="singleRadio1" value="option1" name="radioSingle1" aria-label="Single radio One">
                                            <label></label>
                                        </span>
                                    </td>
                                    <td><a download="Fil2e" href="">File 2</a></td>
                                    <td><a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteNews(parentIndex, news.newses)"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>
                                        <span class="radio" style="text-align:center">
                                            <input type="radio" id="singleRadio1" value="option1" name="radioSingle1" aria-label="Single radio One">
                                            <label></label>
                                        </span>
                                    </td>
                                    <td><a download="File2" href="">File 3</a></td>
                                    <td><a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteNews(parentIndex, news.newses)"><i class="fa fa-times"></i></a></td>
                                </tr>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
                <!-- /.box-body -->

            </form>



        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
