<content-header title-name="Danh sách sản phẩm"></content-header>

<!-- Main content -->
<section class="content overflow-x-scroll">
    <div class="row ng-scope" ng-init="init()">
        <form class="form-horizontal row" name="addProductForm" novalidate="">
            <div class="col-md-12 col-sm-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-search"></i>
                        <h3 class="box-title text-uppercase">
                            Thông tin tìm kiếm
                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        </div><!-- /. tools -->
                    </div>
                    <div class="box-body">
                        <!--Column Left-->
                        <div class="col-md-6 col-sm-6">


                            <div class="form-group">
                                <label for="Name" class="col-sm-4 control-label text-left-important">Tên tòa nhà</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Name" name="Name" ng-model="searchEntry.Name" placeholder="" tabindex="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DistrictID" class="col-sm-4 control-label text-left-important">Quận/Huyện</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="searchEntry.DistrictID"
                                            ng-options="item.ID as item.Name for item in districtSelectList"
                                            ng-change="changeDistrict(searchEntry.DistrictID)" tabindex="2">
                                        <option value="">-- Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="WardID" class="col-sm-4 control-label text-left-important">Phường/Xã</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="searchEntry.WardID"
                                            ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:searchEntry.DistrictID"
                                            ng-disabled="searchEntry.DistrictID == null || searchEntry.DistrictID == ''" tabindex="3">
                                        <option value="">
                                            -- Tất cả
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Tên đường</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="searchEntry.StreetName" tabindex="4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AvailableAreaFrom" class="col-sm-4 control-label text-left-important">Diện tích trống</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="AvailableAreaFrom" name="AvailableAreaFrom" ng-model="searchEntry.AvailableAreaFrom" placeholder="Diện tích trống từ" tabindex="5">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="AvailableAreaTo" name="AvailableAreaTo" ng-model="searchEntry.AvailableAreaTo" placeholder="Diện tích trống đến" tabindex="6">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PriceFrom" class="col-sm-4 control-label text-left-important">Giá thuê</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="PriceFrom" name="PriceFrom" ng-model="searchEntry.PriceFrom" placeholder="Giá thuê từ" tabindex="7">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="PriceTo" name="PriceTo" ng-model="searchEntry.PriceTo" placeholder="Giá thuê đến" tabindex="8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PriceFrom" class="col-sm-4 control-label text-left-important">Thời gian trống</label>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="9" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model=" searchEntry.AvailableFrom" is-open="openedDD1" close-text="Close" id="txtOpenedDD1" ng-click="openedDD1=true" placeholder="Thời gian trống từ" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedDD1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="10" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="searchEntry.AvailableTo" is-open="openedDD2" close-text="Close" id="txtOpenedDD2" ng-click="openedDD2=true" placeholder="Thời gian trống đến" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedDD2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="BuildingDirectionID" class="col-sm-4 control-label text-left-important">Hướng tòa nhà</label>
                                <div class="col-sm-8">
                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="listBuildingDirectionID"
                                                 options="c.Name for c in buildingDirectionIDSelectList"
                                                 change="selected()" tabindex="11"></multiselect>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PriceDescription" class="col-sm-4 control-label text-left-important">Hướng văn phòng</label>
                                <div class="col-sm-8 ">
                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="listOfficeDirectionID"
                                                 options="c.Name for c in buildingDirectionIDSelectList"
                                                 change="selected()" tabindex="12"></multiselect>

                                </div>
                            </div>
                        </div>
                        <!--Column Right-->
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Diện tích sàn</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="FloorAreaFrom" name="FloorAreaFrom" ng-model="searchEntry.FloorAreaFrom" placeholder="Từ" tabindex="13">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="FloorAreaTo" name="FloorAreaTo" ng-model="searchEntry.FloorAreaTo" placeholder="Đến" tabindex="14">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Ưu tiên</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="PriorityLevelFrom" name="PriorityLevelFrom" ng-model="searchEntry.PriorityLevelFrom" placeholder="Từ" tabindex="15">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="PriorityLevelTo" name="PriorityLevelTo" ng-model="searchEntry.PriorityLevelTo" placeholder="Đến" tabindex="16">
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Hạng văn phòng</label>
                                <div class="col-sm-8">
                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="listOfficeRankingID"
                                                 options="c.Name for c in officeRankingSelectList"
                                                 change="selected()" tabindex="17"></multiselect>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Năm hoàn thành</label>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="18" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="searchEntry.YearFrom" is-open="openedYearFrom" close-text="Close" id="txtopenedYearFrom" ng-click="openedYearFrom=true" placeholder="Từ " />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedYearFrom=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="19" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="searchEntry.YearTo" is-open="openedYearTo" close-text="Close" id="txtopenedYearTo" ng-click="openedYearTo=true" placeholder="Đến" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedYearTo=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Ngày cập nhật</label>

                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="20" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="searchEntry.LastUpdatedDateTimeFrom" is-open="openedLastUpdatedDateTimeFrom" close-text="Close" id="txtopenedLastUpdatedDateTimeFrom" ng-click="openedLastUpdatedDateTimeFrom=true" placeholder="Từ " />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedLastUpdatedDateTimeFrom=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control text-center col-sm-10" tabindex="21" datepicker-popup="{{'dd-MM-yyyy'}}" ng-model=" searchEntry.LastUpdatedDateTimeTo" is-open="openedLastUpdatedDateTimeTo" close-text="Close" id="txtopenedLastUpdatedDateTimeTo" ng-click="openedLastUpdatedDateTimeTo=true" placeholder="Đến" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openedYearTo=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Tầng</label>
                                <div class="col-sm-4 ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="22" ng-model="searchEntry.AvailableFloorFrom" placeholder="Từ" floor-input />
                                </div>

                                <div class="col-sm-4 ">
                                    <input type="text" class="form-control text-center col-sm-10" tabindex="23" ng-model="searchEntry.AvailableFloorTo" placeholder="Đến" floor-input />
                                </div>


                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Chỗ giữ ôtô</label>
                                <div class="col-sm-8">
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="HavePackingCarYes" name="radioHavePackingCar" ng-model="searchEntry.HavePackingCar" value="1">
                                        <label for="HavePackingCarYes"> Có </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="HavePackingCarNo" name="radioHavePackingCar" ng-model="searchEntry.HavePackingCar" value="0">
                                        <label for="HavePackingCarNo"> Không </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="HavePackingCarNoYes" name="radioHavePackingCar" ng-model="searchEntry.HavePackingCar" value="100" checked="true" />
                                        <label for="HavePackingCarNoYes"> Không xác định </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Phí ngoài giờ</label>
                                <div class="col-sm-8">
                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="listOrtherFeeType"
                                                 options="c.Name for c in otherFeeType"
                                                 change="selected()"></multiselect>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">Độ cao trần</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="CeilingHeightFrom" name="CeilingHeightFrom" ng-model="searchEntry.CeilingHeightFrom" placeholder="Từ" tabindex="30">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="CeilingHeightTo" name="CeilingHeightTo" ng-model="searchEntry.CeilingHeightTo" placeholder="Đến" tabindex="31">
                                </div>


                            </div>

                        </div>



                    </div>
                    <div class="box-footer clearfix">
                        <div class="row">
                            <div class="col-md-12 form-horizontal">
                                <div class="col-md-4  col-md-offset-4">
                                    <div class="form-group">
                                        <input type="button" class="form-control btn-primary" ng-click="search(searchEntry)" value="TÌM KIẾM">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Navigator part -->
                </div>
            </div>

        </form>
        <div class="box box-default box-solid">
            <div class="box-header with-border box-info">
                <i class="fa fa-list-ol"></i>
                <h3 class="box-title text-uppercase">
                    Kết quả
                </h3>
                <!-- tools box -->

            </div>
            <div class="box box-default">
                <div class="box-body">
                    <div class="col-md-12">
                        <angular-grid-table grid-info="gridInfo" root-scope="this" list-right="listRight"></angular-grid-table>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" data-whatever="@mdo" ng-click="setExportInfo('excel',26)">Báo giá cơ bản(excel)</button>&nbsp;<button type="button" class="btn btn-primary" data-whatever="@mdo" ng-click="setExportInfo('excel',27)"></span>Báo giá chi tiết(Excel)</button>

                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary" data-whatever="@mdo" ng-click="setExportInfo('pdf',26)">Báo giá cơ bản(Pdf)</button>&nbsp;
                        <button type="button" class="btn btn-primary" data-whatever="@mdo" ng-click="setExportInfo('pdf',27)"></span>Báo giá chi tiết(Pdf)</button>

                    </div>
                </div>

            </div>

        </div>
        <div class="modal fade " id="infoExportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header btn-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Điền thông tin xuất file</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Gủi đến</label>
                                <input type="text" class="form-control" ng-model="exportInfo.addressTo">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Họ tên</label>
                                <input type="text" class="form-control" ng-model="exportInfo.FullName">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Chức vụ</label>
                                <input type="text" class="form-control" ng-model="exportInfo.Position">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Điện thoại bàn</label>
                                <input type="text" class="form-control" ng-model="exportInfo.TelePhone">
                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Điện thoại di động</label>
                                <input type="text" class="form-control" ng-model="exportInfo.CellPhone">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Email</label>
                                <input type="text" class="form-control" ng-model="exportInfo.Email">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Tên file</label>
                                <input type="text" class="form-control" ng-model="exportInfo.fileName">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" ng-click="exportFileDialog(this)">Xuất file</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






</section>
<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>

<iframe src="../service.data/excel/export.aspx" style="display:none" id="hiddenDownloader" />