<content-header title-name="Department Management"></content-header>

<!-- Main content -->
<section class="content">
    <div class="row ng-scope" ng-controller="DepartmentCtrl" ng-init="init()">
        <div class="col-md-7 col-sm-8">
            <!---Directive left-action-->
            <left-action theme-button="themeButton"  root-scope="this" ></left-action>

            <div class="row">
                <!---Directive left-action-->
                <angular-grid-table grid-info="gridInfo" root-scope="this"></angular-grid-table>
            </div>
            <!-- Navigator part -->


        </div>

        <div class="col-md-5 col-sm-4">
            <!---Directive right-->
            <right-action theme-button="themeButton" full-action="false"></right-action>

            <form class="form-horizontal row">
                <div class="box-body">
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9 padding-right-19">
                            <input type="text" class="form-control" id="txtName" name="Name" placeholder="Name" ng-model="dataSeleted.Name" ng-change="changeText()"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9 padding-right-19 ">
                          <textarea name="description" class="form-control" rows="5" placeholder="Enter ..."  ng-model="dataSeleted.Description"></textarea>
                        </div>
                    </div>
                     <div class="form-group" ng-hide="true">
                        <label for="description" class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9 padding-right-19 ">
                             <select ng-model="dataSeleted.Status"  class="form-control" ng-options="option.value as option.name for option in statusOptions"> </select>
                        </div>
                    </div>

                </div>

            </form>
          
        </div>


    </div>

</section>
