<content-header title-name="Quản Lý Tài Khoản"></content-header>

<section class="content overflow-x-scroll">
    <div class="row " ng-init="init()">

        <div class="col-md-12 col-sm-12">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-search"></i>
                    <h3 class="box-title text-uppercase">
                        Thông tin chi tiết
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-default btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form class="form-horizontal row" name="addProductForm" novalidate="">
                        <!--Column Left-->
                        <div class="col-md-6 col-sm-6  col-sm-offset-3">


                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                                <div class="col-sm-9 padding-right-19">
                                    <input ng-model="dataSeleted.UserName" type="text" class="form-control" id="inputEmail3" placeholder="Tên đăng nhập" ng-change="changeText()"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Mậu khẩu</label>
                                <div class="col-sm-9 padding-right-19 " ng-hide="dataSeleted.ID!=0">
                                    <input ng-model="dataSeleted.Password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>

                                <div class="col-sm-7" ng-hide="dataSeleted.ID==0">
                                    <input ng-model="dataSeleted.Password" type="text" class="form-control" id="Password1" placeholder="Password">
                                </div>
                                <div class="col-sm-2 padding-right-19 pull-right" ng-hide="dataSeleted.ID==0">
                                    <button class="btn pull-right" ng-class="themeButton" ng-click="resetPassword()">
                                        <span>Reset  </span>

                                    </button>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Họ tên</label>
                                <div class="col-sm-9 padding-right-19">
                                    <input ng-model="dataSeleted.FullName" type="text" class="form-control" id="inputEmail3" placeholder="Họ tên" ng-change="changeText()"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Chức vụ</label>
                                <div class="col-sm-9 padding-right-19">
                                    <input ng-model="dataSeleted.Position" type="text" class="form-control" id="inputEmail3" placeholder="Họ tên" ng-change="changeText()"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Điện thoại bàn</label>
                                <div class="col-sm-9 padding-right-19">
                                    <input ng-model="dataSeleted.Telephone" type="text" class="form-control" id="inputEmail3" placeholder="Điện thoại" ng-change="changeText()"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Nhóm thành viên</label>
                                <div class="col-sm-9 padding-right-19">
                                    <select class="form-control" ng-model="dataSeleted.GroupID"
                                            ng-options="item.ID as item.Name for item in listGroup">
                                        <option value="">-- Chọn nhóm</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">ĐTDD</label>
                                <div class="col-sm-9 padding-right-19">
                                    <input ng-model="dataSeleted.CellPhone" type="text" class="form-control" id="inputEmail3" placeholder="Điện thoại" ng-change="changeText()"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9 padding-right-19">
                                    <input ng-model="dataSeleted.Email" type="text" class="form-control" id="inputEmail3" placeholder="Email" ng-change="changeText()"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee" class="col-sm-3 control-label">Tình trạng</label>
                                <div class="col-sm-9 padding-right-19">
                                    <ui-select ng-model="dataSeleted.Status" theme="selectize" ng-disabled="disabled" title="Choose a employee">
                                        <ui-select-match placeholder="Chọn trạng thái cho tài khoản...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item.ID as item in employeelist | filter: $select.search">
                                            <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee" class="col-sm-3 control-label">&nbsp;</label>
                                <div class="col-sm-4">
                                    <button class="form-control btn-primary" ng-click="actionEntry('INSERT')" ng-if="dataSeleted.ID=='0'">Thêm mới </button>
                                    <button class="form-control btn-primary" ng-click="actionEntry('UPDATE')" ng-if="dataSeleted.ID!='0'">Cập nhật </button>
                                </div>
                                <div class="col-sm-5 pull-right">
                                    <button class="form-control btn-primary pull-right" ng-click="reset()"> Reset </button>
                                </div>
                            </div>
                        </div>



                    </form>

                </div>

                <!-- Navigator part -->
            </div>
            <div class="box box-default box-solid">
                <div class="box-header with-border box-info">
                    <i class="fa fa-list-ol"></i>
                    <h3 class="box-title text-uppercase">
                        Danh sách tài khoản
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-default btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <angular-grid-table grid-info="gridInfo" root-scope="this" list-right="listRight"></angular-grid-table>

                    </div>

                </div>
            </div>
        </div>

    </div>


</section>

<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>