<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title ng-binding"><span class="glyphicon glyphicon-check"></span>&nbsp; {{title}}</h4>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="CurrentPassword" class="control-label col-xs-3">Current Password</label>
            <div class="col-xs-9">
                <input type="password" class="form-control" ng-model="CurrentPassword" id="CurrentPassword" ng-keyup="checkDisabled()" placeholder="Current Password">
            </div>
        </div>
        <div class="form-group">
            <label for="NewPassword" class="control-label col-xs-3">New Password</label>
            <div class="col-xs-9">
                <input type="password" ng-model="NewPassword" class="form-control" id="NewPassword"  ng-keyup="checkDisabled()"  placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label for="confirmNewPassword" class="control-label col-xs-3">Confirm New Password</label>
            <div class="col-xs-9">
                <input type="password" ng-model="ConfirmNewPassword" class="form-control" id="confirmNewPassword"  ng-keyup="checkDisabled()" placeholder="Confirm Password">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="Change()" ng-disabled="enableChange">Change</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
