<div class="form-group col-md-12">

    <div class="col-xs-12 pull-right ">
        <!-- /.box-header -->
        <form class="form-horizontal row ng-pristine ng-valid">
            <div class="box-body" ng-controller="dataGridCtrl as vm" ng-init="vm.init(gridInfo, rootScope)">
                <table datatable="ng" class="table table-bordered table-striped box" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" dt-instance="vm.dtInstanceCallback">
                    <thead>
                        <th data-ng-repeat="c in vm.gridInfo.cols" ng-width="{{c.width}}" ng-hide="{{c.isHidden}}">{{ c.heading }}
                        </th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in  vm.gridInfo.data">
                            <td data-ng-repeat="c in vm.gridInfo.cols" ng-width="{{c.width}}" ng-hide="{{c.isHidden}}" ng-style="color:{{item.BackColor}}" class="Pointer" ng-click="vm.setData(item)">{{ item[c.name]  item[BackColor]}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
   
</div>
